<h1>Articles</h1>
<table class='table table-hover table-sm'>
	<thead>
		<th>#</th>
		<th>Description</th>
		<th>Specs</th>
		<th>Voorraad</th>
		<th>Eenheid</th>
		<th> </th>
	</thead>
	<tbody>
		<% @stock_articles.each do |stock_article| %>
		<tr>
			<td><strong><%= stock_article.number %></strong></td>
			<td><%= stock_article.description %></td>
			<td><%= stock_article.specification %></td>
			<td></td>
			<td></td>			
			<td><%= link_to("show", stock_article)%>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Nieuw', new_stock_article_path %>