<h1>Artikel <%= @stock_article.number %></h1>
<p>Number : <%= @stock_article.number %></p>
<p>Description : <%= @stock_article.description %></p>
<p>Specs : <%= @stock_article.specification %></p>

<p><%= link_to "back", stock_articles_path %></p>