
<% if purchase_order_line.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(purchase_order_line.errors.count, "error") %> prohibited this example_resource from being saved:</h2>

		<ul>
			<% purchase_order_line.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
      	</ul>
	</div>
<% end %>


<%= simple_form_for @purchase_order_line do |f| %>
	<%= f.association :article, label_method: :name_for_select %>
	<%= f.input :amount %>
	<%= f.button :submit %>
<% end %>