<span>Filters: <%= link_to "openstaand", sale_orders_path(filter: "open")%>
<%= link_to "geleverd", sale_orders_path(filter: "geleverd")%>
<%= link_to "gefactureerd", sale_orders_path(filter: "gefactureerd")%>
<%= link_to "alles", sale_orders_path(filter: "all")%></span>


<h1>Orders</h1>
<table class="table table-hover table-sm">
	<thead>
		<th>#</th>
		<th>Customer</th>
		<th>Orderregels</th>
		<th></th>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td><%= link_to 'nieuwe order' , new_sale_order_path %></td>
			
			<td></td>
		</tr>		
<% @orders.each do |order| %>
	<tr>
		<td><%= order.id %></td>
		<td><%= order.Customer.name %></td>		
		<td><%= order.order_lines.count%></td>
		<td><%= link_to :edit, edit_sale_order_path(order)%></td>		
	</tr>
<% end %>
</tbody>
</table>



