
<%= simple_form_for @order do |f| %>
	<%= f.association :Supplier %>
	<table class='table table-sm table-hover'>
		<thead>
			<tr>
				<th>article</th>
				<th>Amount</th>
				<th><span class="badge badge-danger">Verwijderen</span></th>
			</tr>
		</thead>
		<tbody>
			<%= f.simple_fields_for :order_lines do |ol|%>
				<%= render 'order_lines_form', {:f => ol} %>
			<% end %>
		</tbody>
	</table>
	<%= f.button :submit %>
<% end %>

