<%= form_for(order) do |f| %>

  <div class="field">
    <%= f.label :Leverancier %>
    <%= f.text_field :Supplier_id %> 
	(<% if order.Supplier %><%= order.Supplier.name %> <% end %>) <%= link_to "update", "#", {id:"update_link"}%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
